header.hero-unit
  .container
    h1 Welcome to Final Version
    p.lead Get your tasks in order!
    
    | Based on 
    a(href='http://archive.constantcontact.com/fs004/1100358239599/archive/1109511856508.html',target='_blank')
      | Mark Forster's Final Version

.container
  .row
    .col-md-3.col-md-offset-3
      p.center
        | New to Final Version?  
        br
        a.btn.btn-default.btn-lg(href='/signup')
          span.fa.fa-user
          |  Sign up
    .col-md-3
      p.center
        | Existing user?  
        br
        a.btn.btn-primary.btn-lg(href='/login')
          span.fa.fa-sign-in
          |  Log in

footer.footer
  .container
    p
      | Final Version by Sam Deere