.row
	.col-sm-12
		h1.pagetitle Select Tasks 
		h3.question What do you want to do before you do 
			span.question-subject {{tasks[0].name.toLowerCase()}}?
		ul.tasks.tasks-select
			li.task( ng-repeat="task in tasks",
				ng-class="{selected: task.selected}",
				ng-mouseenter="hover = true",
				ng-mouseleave="hover = false",
				ng-click="Tasks.setTaskAsSelected(task._id,!task.selected)"
				)
				span.fa.fa-arrow-circle-right(ng-show="task.selected") 
				|  {{task.name}}
				span(ng-if="task.recurring") - Recurring ({{task.recurringInterval}})
.row
	.col-sm-12
		a.btn.btn-default(href="/tasks") Go back
		a.btn.btn-primary(href="/tasks/run" ng-show="tasksCount.selected > 0") Start!
