// Globals

a {
	cursor: pointer;
}


// route change FX
.ui-view-container {
  position: relative;
}
[ui-view].ng-enter, [ui-view].ng-leave {
	position: absolute;
	left: 0;
	right: 0;
	transition:all .3s ease-in-out;
}

[ui-view].ng-enter {
	opacity: 0;
}

[ui-view].ng-enter-active {
	opacity: 1;
}

[ui-view].ng-leave {
	opacity: 1; 
}

[ui-view].ng-leave-active {
	opacity: 0;
}
// UI
#current-tasks{
	font-size: 2em;
	ul.tasks {
		li.task {
			.index {
				color: #999;
			}
		}
	}
}
ul.tasks{
	padding:0;
}
li.task {
	margin: 5px -15px;
	padding: 5px 15px;
	border: 1px solid #DDD;
	list-style-type:none;
	&.active{
		background-color: #DDD;
		a.delete {
			display: inline-block;
		}
	}
	&.selected{
		background-color: #DEF;
	}
	a.delete {
		display:none;
		color: #F00;
	}
	&.complete {
		text-decoration: line-through;
	}
}

.question {
	color: #999;
	.question-subject {
		color: #000;
	}
}